/******** site-menubar ********/
.site-navbar {
  background-color: #fff;
 .profile-data {
   padding-top: 1.15rem;
   margin-left: 20px;
   div {
     text-align: right;
     line-height: 15px;
     font-family: "Open Sans",sans-serif;
     font-size: 14px;
     color: #010101;
     &:last-child {
       color: #b4b4b4;
     }
   }
 }
}
/*.site-menubar {
  background: #fff;
  .site-menu {
    font-size: 18px;
    & > .site-menu-item {
      a {
        color: #29658f;
      }
      &:hover {
        a {
          color: #62a8ea;
        }
      }
      &.open {
        background: #f5f5f5;
        a {
          color: #000;
        }
        ul {
          background: #fff;
          .site-menu-item {

            &.hover {
              background: #f5f5f5;
            }
          }
        }
      }
      &.hover {
        ul {
          background: #fff;
          .site-menu-item {

            &.hover {
              background: #f5f5f5;
            }
          }
        }

      }
    }

  }
}
*/

/******** site-menubar footer ********/
.site-menubar-footer {
  & > a {
    width: 100%;
    height: auto;
    padding: 15px 0;
    span {
      &.title {
        margin-left: 10px;
      }
    }
  }
}

.site-menubar-fold {
  .site-menubar-footer {
    & > a {
      span {
        &.title {
          display: none;
        }
      }
    }
  }
}





.navbar-default {
  .navbar-toolbar {
    .nav-link {
      display: list-item;
      &:focus, &:hover {
        background-color: #fff;
      }
    }
  }
}

.site-menubar-unfold {
  .site-menu{
    &>{
      .site-menu-item{
        &>a {
          line-height: 50px;
          .site-menu-title {
            font-size: 16px;
          }
          i {
            font-size: 18px;
          }
        }
      }
    }
  }
}




/*** logo image ***/

.site-menubar-fold {
  .navbar-brand {
    img {
      &.logo-fold {
        display: block;
        margin: -4px auto 0;
      }
      &.logo-unfold {
        display: none;
      }
    }
  }
}

.site-menubar-unfold {
  .navbar-brand {
    img {
      &.logo-unfold {
        display: block;
      }
      &.logo-fold {
        display: none;
      }
    }
  }
}


.site-navbar {
  .navbar-header {
    .navbar-toggler {
      color: #76838f;
    }
    .hamburger {
      .hamburger-bar, &::after, &::before  {
        background-color: #76838f;
      }
    }
  }
}
